.App {
    margin-left: 30%;
    margin-right: 30%;
    background-color: gray;
}
body{
    background-color: darkcyan;
}
.item{
    border: 1px solid black;
    padding: 5px;
    
    
    
    
}
.list{
    
    padding: 10px;
}
form{
    text-align: center;
    padding: 10px;
}
h1{
    text-align: center;
}